a {
  cursor: pointer;
}

.w3-input {
  margin-top: 2%;
}

.btn-primary {
  margin-bottom: 2%;
}

.fa-times {
  color: grey !important;
  float: right;
  margin-top: 5%;
}

.code {
  float: left;
}

.stocks li {
    width: 25%;
    margin-right: 2.6%;
    display: inline-grid;
    vertical-align: top;
}

.stock-chart {
  width: 87%;
  height: 370px;
  border: 1px solid black;
}
